<h4>Sign In</h4>

<form action="/signin" method="POST">

Email : <input type="text" name="email"><br>
Password: <input type="password" name="password"><br>

<input type="submit" name="submit">


<a href="/signup"> New User </a>

</form>
